body {
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main > div {
  border: 1px rgb(41, 44, 60) solid;
}

.mainContent {
  flex: 1;
  color: white;
  background-color: rgb(165, 173, 203);
}

.queueListContainer {
  padding: 5vh 0;
  color: white;
  font-size: 1em;
  background-color: rgb(128, 135, 162);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.queueListContainer h1 {
  text-align: center;
}

.createQueueButton {
  margin: 1em;
  align-self: center;
  width: 8em;
  height: 2em;
  border: 0;
  background-color: rgb(153, 209, 219);
  border-radius: 1em;
  font-size: 2em;
}

.createQueueButton:hover {
  background-color: rgb(140, 170, 238)
}

.queueList {
  color: white;
  list-style-type: none;
  max-width: 20%;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.queueItem {
  /* border: black solid; */
  border-radius: 0.7em;
  font-size: 1.5em;
  margin: 0 1em;
  padding: 0.5em 1em;
  background-color: rgb(91, 96, 120);
}

.queueItem:hover {
  background-color: rgb(36, 39, 58);
}

.queuePanel {
  color: rgb(41, 44, 60);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  margin: 0;
  padding: 3em 3em;
}

.panelItem {
  background-color: white;
  border-radius: 1em;
  padding: 1em 2em;
  min-height: 5em;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}

.panelItemButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panelItemButtons button {
  background-color: rgb(131, 139, 167);
  color: white;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

.text {
  /* example color styling */
  color: orange;
}